/* 
    Created on : Feb 16, 2014, 3:01:41 PM
    Author     : krasimir
*/
h1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}
h1,h2 {
    font-weight: bold;
    line-height: 1.2em;
}
a {
    text-decoration: none;
}
.wrapper {
    margin-top: 20px;
    margin-left: 50px;
    .menu {
        margin-bottom: 20px;
        line-height: 1.2em;
        @include clearfix;
        li {
            float: left;
            display: block;
            margin-right: 20px;
        }
    }

    .cv-form {
        label {
            display: block;
            margin-bottom:10px;
        }
        .send_cv {
            display: block;
            margin-top: 20px;
        }
    }
    
    .update_cv {
        margin-bottom: 20px;
        .field {
            margin-bottom: 10px;
        }
    }
}