html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
    Created on : Feb 16, 2014, 3:01:41 PM
    Author     : krasimir
*/
h1 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

h1, h2 {
  font-weight: bold;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

.wrapper {
  margin-top: 20px;
  margin-left: 50px;
}
.wrapper .menu {
  margin-bottom: 20px;
  line-height: 1.2em;
  overflow: hidden;
  *zoom: 1;
}
.wrapper .menu li {
  float: left;
  display: block;
  margin-right: 20px;
}
.wrapper .cv-form label {
  display: block;
  margin-bottom: 10px;
}
.wrapper .cv-form .send_cv {
  display: block;
  margin-top: 20px;
}
.wrapper .update_cv {
  margin-bottom: 20px;
}
.wrapper .update_cv .field {
  margin-bottom: 10px;
}
